
<p>
  <strong>Email:</strong>
  <em><%= current_user.email %></em>
</p>

<p>
  <strong>Attended events:</strong>
  <br><br>
  <span>Past</span>
  <ul>
  <% @past_events.where("date < '#{Time.now}'").each do |past_event| %>    
    <li><%= link_to past_event.title, past_event %></li>
  <% end %>
  </ul>
  <span>Future</span>
  <ul>
  <% @upcoming_events.where("date >= '#{Time.now}'").each do |future_event| %>    
    <li><%= link_to future_event.title, future_event %></li>
  <% end %>
  </ul>
</p>


<% if current_user == @user %>
  <td><%= link_to 'Edit', edit_user_registration_path %></td>
<% end %>
