<h1>User Events</h1>
  <% @users.each do |user| %>
    <% user.events.each do |event|%>
      <h3>Title: </h3><%=link_to event.title, event_path(event.id)%> <br><br>
    <%end%>
  <%end%>
<% if params[:id].to_i == current_user.id %>

  <%= link_to 'Create Event', new_event_path %>
<% end %>
<br><br>

<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "button is-info" %>
<% end %>